<form [formGroup] = "apiSearch" (ngSubmit)="onGet(apiSearch)">
  <select name="searchPrice" formControlName="searchPrice" id="searchPrice" required>
    <option value="1">$</option>
    <option value="2">$$</option>
    <option value="3">$$$</option>
    <option value="4">$$$$</option>
  </select>
  <input type="text" id="search" formControlName="searchWord" required>
  <button type="submit">Let's Eat!</button>
</form>

<h2>Restaurant: {{_result.name}}</h2>
<h2>Price: {{_result.price}}</h2>
<h2>Phone: {{_result.phone}}</h2>
<h2>Rating: {{_result.rating}}</h2>
<img src="{{_result?.image_url}}" />
